<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>

    <div class="all-tasks">
      <h1 class="all-tasks-title">All tasks</h1>
      <div class="task-container">
        <% if(items.length > 0) { %> <% items.forEach(item => { %>
        <div class="task-item">
          <p class="task <%= item.isComplete ? 'complete' : ''%>"><%= item.name %></p>
          <form>
            <button class="done" data-doc="<%= item.id%>">
              Mark as complete
            </button>
            <button class="delete" data-doc="<%= item.id%>">Delete</button>
          </form>
        </div>
        <% }); %> <% } else { %>
        <p>There are no tasks to show</p>
        <% } %>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
